nav {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
input {
  padding: 1px;
  margin: 30px;
  border: 1px solid gray;
  border-radius: 10%;
}
label {
  margin: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 20px;
  margin: 20px;
}
h1 {
  text-align: center;
  margin: 5px;
}

button:disabled {
  background-color: gray;
  border-radius: 25%;
}
button:enabled {
  background-color: green;
  border-radius: 25%;
  color: white;
}
span {
  font-size: 12px;
  color: red;
  display: flex;
  font-weight: bold;
}
img {
  border-radius: 20px;
  border: 1px solid #eee;
}

p {
  font-size: 18px;
  font-weight: normal;
}
