ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}


/* Main container */

.contenedor-principal {
  width: 600px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* Slider container */
.contenedor-carrusel {
  position: relative;
  height: 100%
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.izquierda {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.derecha {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.contenedor-imagen {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}